@{
    Layout = "/Views/Shared/_Layout.cshtml";
}


<body>
    <div>
        <td align="right">
            @ViewBag.Greeting
        </td>

    </div>
</body>
<table style="width:100%;margin:50px;">
    <tr style="font-weight:bold; font-size:23px">
        <td>WELCOME TO THE BOOK STORE </td>

    </tr>
    <tr style=" font-size:16px">  <td><i>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vel pellentesque est, vel bibendum risus. Fusce molestie sapien non dignissim pharetra.  </i></td>  </tr>
    </table>
